@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spin-on-hover {
    transition: transform 0.3s ease-in-out;
  }
  
  .spin-on-hover:hover {
    animation: continuous-spin 2s linear infinite;
  }
  
  @keyframes continuous-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
